#header-container {
    position: sticky;
    top: 0;
    z-index: 100;
}

#header-logo-div {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

#header-logo {
    width: 100%;
    height: auto;
}

header {
    background-color: #222;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    padding: 0 10px;
}

.nav-links a:hover {
    color: #2196F3;
}

.login-button {
    padding: 10px 20px;
    background-color: #2196F3;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 20px;
}

.login-button:hover {
    background-color: #1565C0;
}